In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [41]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 15, 10
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 12

In [42]:
df_placas = pd.read_excel('placas_solares.xlsx')

df_placas

,CENTRO,USO,Coordenada-X,Coordenada-Y,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
0,MADRID EMPRENDE,administrativo,436689.0,4468938.0,10.0,2019,enero,Estimación,1004.400
1,MARES MADRID,administrativo,443153.0,4471330.0,7.0,2019,enero,Estimación,703.080
2,NAVE BOETTICHER,administrativo,440849.0,4466524.0,5.0,2019,enero,Estimación,502.200
3,AULA DE LA NATURALEZA DEHESA DE LA VILLA,medioambiental,439102.0,4478967.0,2.5,2019,enero,Estimación,251.100
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,441779.0,4473428.0,5.0,2019,enero,Estimación,502.200
...,...,...,...,...,...,...,...,...,...
4973,OAIC SACRAMENTO AGENCIA TRIBUTARIA,administrativo,439688.2,4474009.8,8.0,2023,marzo,Estimación,1330.272
4974,BASE SAMUR 4,sanitario,445135.7,4475423.6,2.0,2023,marzo,Estimación,332.568
4975,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,NaN,2023,marzo,Medición,681.000
4976,CMM SAN DIEGO,social,443704.6,4471139.1,10.0,2023,marzo,Estimación,1662.840
4977,CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALL...,social,449246.7,4468156.3,8.0,2023,marzo,Estimación,1330.272

In [43]:
df_placas.isna().sum() # Verificando los valores nulos

CENTRO                   2
USO                      2
Coordenada-X             2
Coordenada-Y             2
POTENCIA KWP             3
AÑO                      0
MES                      0
CÁLCULO                  0
ENERGÍA PRODUCIDA KWh    0
dtype: int64

In [21]:
df_placas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4978 entries, 0 to 4977
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CENTRO                 4976 non-null   object
 1   USO                    4976 non-null   object
 2   Coordenada-X           4976 non-null   float64
 3   Coordenada-Y           4976 non-null   float64
 4   POTENCIA KWP           4975 non-null   float64
 5   AÑO                    4978 non-null   int64
 6   MES                    4978 non-null   object
 7   CÁLCULO                4978 non-null   object
 8   ENERGÍA PRODUCIDA KWh  4978 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 350.1+ KB

In [44]:
# nose por qué se hace eso df_placas["MES"].isna()

In [45]:
df_placas["POTENCIA KWP"].isna().sum()

3

In [46]:
df_placas["MES"][df_placas["MES"].isna()]

Series([], Name: MES, dtype: object)

In [47]:
df_placas[4:3300][["CENTRO", "USO", "AÑO", "MES","CÁLCULO"]]

,CENTRO,USO,AÑO,MES,CÁLCULO
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,2019,enero,Estimación
5,VIVERO MUNICIPAL DE MIGAS CALIENTES,medioambiental,2019,enero,Estimación
6,ROSALEDA DEL PARQUE DEL OESTE,medioambiental,2019,enero,Estimación
7,UID VILLA DE VALLECAS,seguridad,2019,enero,Estimación
8,BASE 14 SAMUR,sanitario,2019,enero,Estimación
...,...,...,...,...,...
3295,UID VILLA DE VALLECAS,seguridad,2022,enero,Estimación
3296,BASE 14 SAMUR,sanitario,2022,enero,Estimación
3297,CENTRO PROTECCIÓN ANIMAL,sanitario,2022,enero,Estimación
3298,PARQUE BOMBEROS Nº 6,seguridad,2022,enero,Estimación
3299,PARQUE DE BOMBEROS Nº 7,seguridad,2022,enero,Estimación

In [48]:
df_placas.drop(df_placas.dropna().index)

,CENTRO,USO,Coordenada-X,Coordenada-Y,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
3076,NaN,NaN,NaN,NaN,7.0,2021,noviembre,Estimación,748.440
3182,NaN,NaN,NaN,NaN,7.0,2021,diciembre,Estimación,679.644
4727,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,NaN,2023,enero,Medición,345.000
4850,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,NaN,2023,febrero,Medición,448.000
4975,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,NaN,2023,marzo,Medición,681.000

In [49]:

df_placas.shape[0] - 5

4973

In [50]:
df_solar_filt = df_placas.dropna().reset_index(drop=True)
df_solar_filt

,CENTRO,USO,Coordenada-X,Coordenada-Y,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
0,MADRID EMPRENDE,administrativo,436689.0,4468938.0,10.0,2019,enero,Estimación,1004.400000
1,MARES MADRID,administrativo,443153.0,4471330.0,7.0,2019,enero,Estimación,703.080000
2,NAVE BOETTICHER,administrativo,440849.0,4466524.0,5.0,2019,enero,Estimación,502.200000
3,AULA DE LA NATURALEZA DEHESA DE LA VILLA,medioambiental,439102.0,4478967.0,2.5,2019,enero,Estimación,251.100000
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,441779.0,4473428.0,5.0,2019,enero,Estimación,502.200000
...,...,...,...,...,...,...,...,...,...
4968,CDM HORTALEZA,deportivo,444781.7,4481144.5,99.4,2023,marzo,Medición,11249.600586
4969,OAIC SACRAMENTO AGENCIA TRIBUTARIA,administrativo,439688.2,4474009.8,8.0,2023,marzo,Estimación,1330.272000
4970,BASE SAMUR 4,sanitario,445135.7,4475423.6,2.0,2023,marzo,Estimación,332.568000
4971,CMM SAN DIEGO,social,443704.6,4471139.1,10.0,2023,marzo,Estimación,1662.840000
4972,CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALL...,social,449246.7,4468156.3,8.0,2023,marzo,Estimación,1330.272000

### Análisis exploratorio, tratamiento y limpieza de datos

In [29]:
df_solar_filt.describe()

,Coordenada-X,Coordenada-Y,POTENCIA KWP,AÑO,ENERGÍA PRODUCIDA KWh
count,4973.000000,4.973000e+03,4973.000000,4973.000000,4973.000000
mean,442377.760728,4.473926e+06,16.769704,2020.822441,2289.675351
std,4044.214816,4.593500e+03,16.313828,1.221144,2417.932513
min,433934.000000,4.465148e+06,2.000000,2019.000000,-13.200000
25%,439603.000000,4.470233e+06,7.000000,2020.000000,885.600000
50%,442243.000000,4.473366e+06,12.000000,2021.000000,1506.111750
75%,445584.000000,4.476508e+06,20.000000,2022.000000,2855.250000
max,451431.000000,4.484225e+06,100.000000,2023.000000,23800.000000

In [30]:
df_solar_filt.dtypes

CENTRO                    object
USO                       object
Coordenada-X             float64
Coordenada-Y             float64
POTENCIA KWP             float64
AÑO                        int64
MES                       object
CÁLCULO                   object
ENERGÍA PRODUCIDA KWh    float64
dtype: object

In [31]:
df_solar_filt.dtypes[df_solar_filt.dtypes == "object"]

CENTRO     object
USO        object
MES        object
CÁLCULO    object
dtype: object

In [51]:
df_solar_filt.dtypes[df_solar_filt.dtypes == "object"]

CENTRO     object
USO        object
MES        object
CÁLCULO    object
dtype: object

In [33]:
df_solar_filt['USO'].value_counts()

USO
cultural          1028
social             865
deportivo          829
educativo          784
administrativo     542
mixto              291
seguridad          266
medioambiental     204
sanitario          116
almacén             39
deportivo            9
Name: count, dtype: int64

In [34]:
# columnas a eliminar por ser informativas
columnas_drop = ["CENTRO", "USO", "AÑO", "MES", "CÁLCULO"]

In [35]:
df_solar_filt2 = df_solar_filt.drop(columns = columnas_drop)
print("Tamaño del tablón filtrado: ", df_solar_filt.shape)
print("Tamaño del tablón nuevo: ", df_solar_filt2.shape)

Tamaño del tablón filtrado:  (4973, 9)
Tamaño del tablón nuevo:  (4973, 4)

In [36]:
df_solar_filt2.dtypes.value_counts()

float64    4
Name: count, dtype: int64

### Reducción de variables
Importancia de variables

In [53]:
# generar la lista de features y la variable target
target = 'ENERGÍA PRODUCIDA KWh'
features = [x for x in df_solar_filt2.columns if x != target]

print(target)
print(features)

ENERGÍA PRODUCIDA KWh
['Coordenada-X', 'Coordenada-Y', 'POTENCIA KWP']

In [56]:
df_solar_filt2[target]

0        1004.400000
1         703.080000
2         502.200000
3         251.100000
4         502.200000
            ...
4968    11249.600586
4969     1330.272000
4970      332.568000
4971     1662.840000
4972     1330.272000
Name: ENERGÍA PRODUCIDA KWh, Length: 4973, dtype: float64

In [57]:
# Importar el algoritmo de árboles de decisión
from sklearn.tree import DecisionTreeRegressor

# Asignar el algortimo e indicar la profundidad máxima del árbol (con un número rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=42)

# Entrenar un árbol con todo el conjunto de datos
arbol_importancia.fit(X=df_solar_filt2[features], y=df_solar_filt2[target])

DecisionTreeRegressor(max_depth=13, random_state=42)

In [60]:
# Comprobamos que se obtiene un R^2 muy alto. Lo desesable es que sea 1.
y_pred_arbol = arbol_importancia.predict(X=df_solar_filt2[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Métricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(df_solar_filt2[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(df_solar_filt2[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(df_solar_filt2[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(df_solar_filt2[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(df_solar_filt2[target], y_pred_arbol))

Mean Absolute Error: 685.8527268178002
Mean Absolute Percentage Error: 6.107511375472684e+17
Mean Squared Error: 1324998.7394542568
Root Mean Squared Error: 1151.085895775922
R^2 coefficient of determination: 0.7733193474291218

In [61]:
# Importancias de cada variable en el árbol ajustado (Gini importance)
arbol_importancia.feature_importances_

array([0.03064322, 0.01503193, 0.95432485])

In [62]:
# Creamos un DataFrame con los datos de importancia
importancia = pd.DataFrame(arbol_importancia.feature_importances_, index=features, columns=["Importancia"])

# Ordenamos los datos
importancia.sort_values(by=importancia.columns[0], ascending=False, inplace=True)
importancia

              Importancia
POTENCIA KWP     0.954325
Coordenada-X     0.030643
Coordenada-Y     0.015032

In [63]:
importancia["imp_acum"] = importancia["Importancia"].cumsum()
importancia

              Importancia  imp_acum
POTENCIA KWP     0.954325  0.954325
Coordenada-X     0.030643  0.984968
Coordenada-Y     0.015032  1.000000

In [65]:
# Conjunto de variables más importantes
importancia.loc[importancia['imp_acum']<=0.90]

Empty DataFrame
Columns: [Importancia, imp_acum]
Index: []

In [ ]:
variables = importancia.loc[importancia['imp_acum']>0.90].index.to_list()
print(variables)

Todas ls variables tienen importancia, no eliminamos ninguna.

### Panteamiento del ejercicio de clasificación

In [66]:
df_potencia = df_solar_filt2.copy()

In [67]:
df_potencia["Escenario"] = np.where(df_potencia['POTENCIA KWP'].quantile(0.33),0,1)
df_potencia.drop(['POTENCIA KWP'], axis = 'columns', inplace = True)
df_potencia

      Coordenada-X  Coordenada-Y  ENERGÍA PRODUCIDA KWh  Escenario
0         436689.0     4468938.0            1004.400000          0
1         443153.0     4471330.0             703.080000          0
2         440849.0     4466524.0             502.200000          0
3         439102.0     4478967.0             251.100000          0
4         441779.0     4473428.0             502.200000          0
...            ...           ...                    ...        ...
4968      444781.7     4481144.5           11249.600586          0
4969      439688.2     4474009.8            1330.272000          0
4970      445135.7     4475423.6             332.568000          0
4971      443704.6     4471139.1            1662.840000          0
4972      449246.7     4468156.3            1330.272000          0

[4973 rows x 4 columns]